Source: luafetch
Section: utils
Priority: optional
Maintainer: tiktok: @techdelta <sandybridge@localhost>
Build-Depends: debhelper-compat (= 12), liblua5.3-dev
Standards-Version: 4.4.1

Package: luafetch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fast Lua terminal animation player.
